@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: rgb(160, 184, 178);
}

img{
    max-width: 100%;
}

h1, h2 {
    margin-bottom: 15px;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}


.navbar {
    background: rgb(84, 104, 99);
    color: white;
    height: 60px;
    }

.navbar .logo  {
    font-size: x-large;
    font-weight: bold;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar a:hover {
    color: lightblue;
}

.navbar ul {
    display: flex;
}

ul {
    list-style-type: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar li {
    margin-left: 20px;
}

.header {
    background-color: rgb(138, 161, 155);
    color: white;
    min-height: 400px;
}

.header h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container a {
    color: white;
    text-decoration: none;
}
.header .container a:hover {
    color: lightblue;
    text-decoration: none;

}

.boxes .container {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    background: rgb(90, 109, 112);
    color: white;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
}

.box i {
    margin-right: 5px;
}

@media(max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
    .boxes .container {
        display: block;
        text-align: center;
    }
}